@import "../utils/mixins.scss";

.ch-code-line-number {
  user-select: none;
  text-align: right;
  display: inline-block;
  box-sizing: border-box;
  padding-right: 1.5ch;
  font-variant-numeric: tabular-nums;
  color: var(--ch-t-editorLineNumber-foreground);
}

.ch-code-scroll-parent {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0px;
  border-radius: 0;
  background-color: unset;
  color: unset;
  padding: 0;
  box-sizing: content-box;
  border: none;
  // overscroll-behavior-y: contain;
}

.ch-code-scroll-parent ::selection {
  background-color: var(--ch-t-editor-selectionBackground);
  color: inherit;
}

.ch-code-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.ch-code-button {
  @include button-reset;

  width: 1.1em;
  height: 1.1em;
  margin-left: 0.5em;
}

.ch-code-wrapper {
  background-color: var(--ch-t-background);
  color: var(--ch-t-foreground);
  color-scheme: var(--ch-t-colorScheme);
  margin: 0;
  padding: 0;
  position: relative;
  white-space: pre;
  // to avoid resets using "border-box" that break the scrollbar https://github.com/code-hike/codehike/issues/240
  box-sizing: content-box;
}
.ch-code-wrapper[data-ch-measured="false"] {
  overflow: auto;
}
.ch-code-wrapper[data-ch-measured="false"] > * {
  opacity: 0;
}
