@import "../utils/mixins.scss";

.ch-code-browser {
  color: var(--ch-t-editor-foreground);
  display: flex;
  height: 100%;
  font-family: Ubuntu, Droid Sans, -apple-system,
    BlinkMacSystemFont, Segoe WPC, Segoe UI, sans-serif;
}

.ch-code-browser-sidebar {
  border-right: 1px solid;
  min-width: 100px;
  padding: 1em 0;
  font-size: 0.95rem;
  border-color: var(--ch-t-sideBar-border);
  background: var(--ch-t-sideBar-background);
  color: var(--ch-t-sideBar-foreground);
}

.ch-code-browser-content {
  overflow: auto;
  flex: 1;
  padding: 1em;
  white-space: pre;
  font-family: monospace;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0px;
  position: relative;
  background: var(--ch-t-background);
  color: var(--ch-t-foreground);
  color-scheme: var(--ch-t-colorScheme);
}

.ch-code-browser-content ::selection {
  background-color: var(--ch-t-editor-selectionBackground);
  color: inherit;
}

.ch-code-browser-sidebar-folder,
.ch-code-browser-sidebar-file {
  padding: 0.1em 1em;
}

.ch-code-browser-sidebar-file {
  cursor: pointer;
}

.ch-code-browser-sidebar-file[data-selected="true"] {
  background: var(--ch-t-list-activeSelectionBackground);
  color: var(--ch-t-list-activeSelectionForeground);
}

.ch-code-browser-sidebar-file:hover {
  background-color: var(--ch-t-list-hoverBackground);
  color: var(--ch-t-list-hoverForeground);
}

.ch-code-browser-button {
  @include button-reset;

  width: 1.5em;
  height: 1.5em;
  min-width: 1.5em;
  min-height: 1.5em;
  position: absolute;
  right: 0.8em;
  top: 0.8em;
}
