@import "../utils/mixins.scss";

.ch-no-scroll {
  overflow: hidden;
}

.ch-expand-dialog {
  height: 100vh;
  width: 100vw;
  max-width: min(900px, calc((100% - 6px) - 2em));
  border: 0;
  background-color: transparent;
}

.ch-expand-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.ch-expand-close {
  @include button-reset;

  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  width: 26px;
  height: 26px;
}

.ch-expand-dialog-content {
  color: white;
  position: absolute;
  inset: 40px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--ch-t-sideBar-border);
}
