.ch-no-scroll {
  overflow: hidden;
}

.ch-expand-button {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.ch-expand-dialog {
  height: 100vh;
  width: 100vw;
  border: 0;
  background-color: transparent;
  position: relative;
}

.ch-expand-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.ch-expand-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  width: 26px;
  height: 26px;
}

.ch-expand-dialog-content {
  color: white;
  position: absolute;
  inset: 40px;
  overflow: hidden;
  border-radius: 8px;
}
