@import "../mini-frame/index.scss";
@import "../mini-terminal/index.scss";
@import "../smooth-code/index.scss";
@import "./dialog.scss";
@import "./code-browser.scss";
@import "../utils/mixins.scss";

/** tabs */

.ch-editor-tab {
  border-right: 1px solid rgb(37, 37, 38);
  // width: 120px;
  min-width: fit-content;
  flex-shrink: 1;
  position: relative;
  display: flex;
  white-space: nowrap;
  cursor: pointer;
  height: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 0;
  border-bottom: 1px solid;
  background: var(--ch-t-tab-inactiveBackground);
  color: var(--ch-t-tab-inactiveForeground);
  border-right-color: var(--ch-t-tab-border);
  border-bottom-color: var(--ch-t-tab-inactiveBackground);
}

.ch-editor-tab[data-active="true"] {
  background: var(--ch-t-tab-activeBackground);
  color: var(--ch-t-tab-activeForeground);
  border-bottom-color: var(--ch-t-tab-activeBorder);
  min-width: unset;
}

.ch-editor-tab > div {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
  line-height: 1.4em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ch-editor-group-border {
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
  z-index: 1;
  background: var(--ch-t-editorGroup-border);
}

.ch-editor-frame {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  font-family: Ubuntu, Droid Sans, -apple-system,
    BlinkMacSystemFont, Segoe WPC, Segoe UI, sans-serif;
  break-inside: avoid;
  --ch-title-bar-height: 30px;
  height: 100%;
  background: var(--ch-t-editor-background);
}

.ch-editor-frame .ch-frame-title-bar {
  background: none;
  color: var(--ch-t-icon-foreground);
  background: var(--ch-t-editorGroupHeader-tabsBackground);
}

/** terminal */

.ch-editor-terminal {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  background-color: rgb(30, 30, 30);
  color: rgb(231, 231, 231);
  border-top: 1px solid rgba(128, 128, 128, 0.35);
  padding: 0 8px;
  box-sizing: border-box;
}

.ch-editor-terminal-tab {
  text-transform: uppercase;
  padding: 4px 10px 3px;
  font-size: 11px;
  line-height: 24px;
  display: flex;
}

.ch-editor-terminal-tab > span {
  border-bottom: 1px solid rgb(231, 231, 231);
}

.ch-editor-terminal-content {
  margin-top: 8px;
  height: calc(100% - 40px);
  box-sizing: border-box;
}

.ch-editor-terminal-content .ch-terminal {
  font-size: 12px;
  margin: 0;
}

.ch-editor-button {
  @include button-reset;

  width: 1.5em;
  height: 1.5em;
  min-width: 1.5em;
  min-height: 1.5em;
  margin-right: 0.8em;
}
