.ch-slideshow {
  margin: 1rem 0;
}

.ch-slideshow-slide {
  display: flex;
  flex-flow: row;
  gap: 0.5rem;
  align-items: stretch;
  aspect-ratio: 16 / 9;
}

.ch-slideshow-slide .ch-codegroup,
.ch-slideshow-slide .ch-codeblock {
  flex: 2;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.ch-slideshow .ch-slideshow-preview {
  flex: 1;
  height: auto;
  min-width: 0;
}

.ch-slideshow-range {
  display: flex;
  flex-flow: row;
  gap: 0.5rem;
}

.ch-slideshow-range input {
  flex: 1;
}

.ch-slideshow-notes {
  border-radius: 0.25rem;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #e3e3e3;
}

.ch-slideshow-note {
  min-height: 140px;
  max-height: 140px;
  padding: 0.05px;
  overflow: auto;
}
