.ch-spotlight {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

.ch-spotlight-tabs {
  display: flex;
  flex-flow: column;
  margin-right: 10px;
  flex: 1;
  gap: 0.5rem;
  align-items: stretch;
}

.ch-spotlight-tab {
  border-radius: 0.25rem;
  margin: 0 -0.5rem;
  padding: 0 0.5rem;
  border: 1px solid #e3e3e3;
}

.ch-spotlight-tab:hover {
  border-color: #222;
}

.ch-spotlight-tab[data-selected] {
  border-color: #0070f3;
}

.ch-spotlight-sticker {
  position: sticky;
  top: 10vh;
  display: flex;
  align-self: stretch;
  flex-flow: column;
  justify-content: center;
  width: 420px;
  // capitalized Min to avoid usint the sass min
  min-height: Min(100%, 80vh);
  max-height: 80vh;
}

.ch-spotlight-sticker .ch-codegroup,
.ch-spotlight-sticker .ch-codeblock {
  width: 100%;
  min-width: 100%;
  min-height: Min(100%, 80vh);
  max-height: 80vh;
  margin-top: 0;
  margin-bottom: 0;
  flex: 1;
}

.ch-spotlight-with-preview {
  .ch-spotlight-sticker {
    height: 80vh;
    gap: 0.5rem;
  }

  .ch-spotlight-sticker .ch-codegroup,
  .ch-spotlight-sticker .ch-codeblock {
    min-height: 0;
    flex: 1;
  }

  .ch-spotlight-preview {
    height: 280px;
  }
}
