.ch-frame {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  font-family: Ubuntu, Droid Sans, -apple-system, BlinkMacSystemFont, Segoe WPC,
    Segoe UI, sans-serif;
}

.ch-title-bar {
  height: 28px;
  background-color: #4f4f4f;
}

.ch-frame-content {
  background-color: #fafafa;
  height: calc(100% - 28px);
}
