.ch-frame {
  // border-radius: 6px;
  // overflow: hidden;
  // box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
  //   0 8px 16px -8px rgba(0, 0, 0, 0.3),
  //   0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  font-family: Ubuntu, Droid Sans, -apple-system,
    BlinkMacSystemFont, Segoe WPC, Segoe UI, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  // background-color: rgb(37, 37, 38);
  break-inside: avoid;
  --ch-title-bar-height: 30px;
}

.ch-simple-frame {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  font-family: Ubuntu, Droid Sans, -apple-system,
    BlinkMacSystemFont, Segoe WPC, Segoe UI, sans-serif;
  // background-color: rgb(37, 37, 38);
  break-inside: avoid;
  --ch-title-bar-height: 30px;
}

.ch-frame-content {
  background-color: var(--ch-content-background, #fafafa);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-height: 0;
}

.ch-frame-zoom {
  --ch-frame-zoom: 1;
  overflow: auto;
  position: relative;
  width: calc(100% / var(--ch-frame-zoom));
  height: calc(100% / var(--ch-frame-zoom));
  transform: scale(var(--ch-frame-zoom));
  transform-origin: left top;
}

.ch-frame-title-bar {
  font-size: 12px;
  width: 100%;
  height: var(--ch-title-bar-height);
  min-height: var(--ch-title-bar-height);
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  background-color: var(
    --ch-content-background,
    rgb(37, 37, 38)
  );
  color: #ebebed;
  position: relative;
}

.ch-frame-middle-bar {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.2em;
}

.ch-frame-left-bar,
.ch-frame-right-bar {
  flex-grow: 1;
  flex-basis: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  width: max-content;
}

.ch-frame-buttons {
  margin: 0 0.8em;
  flex-shrink: 0;
  height: 1em;
  width: 4.16em;
  display: flex;
}

.ch-frame-button {
  width: 1em;
  height: 1em;
  border: 0.08em solid;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.ch-frame-button-space {
  width: 0.56em;
}

.ch-frame-button-left {
  border-color: #ce5347;
  background-color: #ed6b60;
}

.ch-frame-button-middle {
  border-color: #d6a243;
  background-color: #f5be4f;
}

.ch-frame-button-right {
  border-color: #58a942;
  background-color: #62c554;
}
