.ch-scrollycoding {
  display: flex;
  position: relative;
  margin: 1rem 0;
  gap: 1rem;
}

.ch-scrollycoding-content {
  box-sizing: border-box;
  flex: 1;
}

.ch-scrollycoding-step-content {
  border-radius: 8px;
  margin: 0 -0.5rem 0 -0.5rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  border: 1.5px solid transparent;
  min-height: 180px;
}

.ch-scrollycoding-step-content[data-selected] {
  // border-color: #81d8f7;
  border-color: #0070f3;
  // background-color: #fafafa;
}

.ch-scrollycoding-step-content > :first-child {
  margin-top: 0;
}

.ch-scrollycoding-step-content > :last-child {
  margin-bottom: 0;
}

.ch-scrollycoding-sticker {
  position: sticky;
  top: 10vh;
  display: flex;
  align-self: start;
  flex-flow: column;
  justify-content: center;
  width: var(--ch-scrollycoding-sticker-width, 420px);
  // capitalized Min to avoid usint the sass min
  // min-height: Min(100%, 80vh);
  max-height: 80vh;
}

.ch-scrollycoding-with-preview {
  .ch-scrollycoding-sticker {
    height: 80vh;
    gap: 0.5rem;

    .ch-codeblock,
    .ch-codegroup {
      flex: 1;
    }
  }

  .ch-scrollycoding-preview {
    height: 280px;
  }
}

.ch-scrollycoding-sticker {
  .ch-codeblock,
  .ch-codegroup {
    width: 100%;
    min-width: 100%;
    min-height: var(
      --ch-scrollycoding-code-min-height,
      200px
    );
    max-height: 80vh;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.ch-scrollycoding-static .ch-preview {
  height: 150px;
}
