.page {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(-16deg, #ffffff, #d8d8d8, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;

  --w: 1024px;
  --m: 24px;
  --cw: calc(var(--w) - 2 * var(--m));
  --ch: calc(var(--cw) / 1.618);
  --ew: calc(var(--ch) - var(--m) / 2);
  --rw: calc(var(--cw) * 0.382 - var(--m) / 2);
  --scale: calc(731 / 1024);
}

.footer {
  /* transform: scale(var(--scale)); */
  transform-origin: bottom right;
}

.main {
  /* transform: scale(var(--scale)); */
  width: var(--cw);
  min-width: var(--cw);
  height: var(--ch);
  display: flex;
  justify-content: space-between;
}

.editor {
  height: var(--ch);
  width: var(--ew);
}

.rightCol {
  width: var(--rw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.browser {
  height: var(--rw);
}

.player {
  height: calc(var(--ch) - var(--rw) - var(--m));
}
