@import "./mini-editor/index.scss";
@import "./mini-browser/index.scss";
@import "./mdx-client/spotlight.scss";
@import "./mdx-client/scrollycoding.scss";
@import "./mdx-client/slideshow.scss";

.ch-codeblock,
.ch-codegroup,
.ch-preview {
  border-radius: 6px;
  overflow: hidden;
  height: max-content; /* for https://github.com/code-hike/codehike/issues/140  */

  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);

  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;

  & > * {
    height: 100%;
    max-height: inherit;
    min-height: inherit;
  }
}

.ch-codeblock,
.ch-codegroup {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.ch-inline-code > code {
  padding: 0.2em 0.15em;
  margin: 0.1em -0.05em;
  border-radius: 0.25em;
  font-size: 0.9rem;
  color: var(--ch-t-foreground);
  background: var(--ch-t-lighter-inlineBackground);
}

.ch-inline-code .ch-section-link,
.ch-inline-code .ch-section-link * {
  text-decoration-color: var(--ch-t-foreground);
}

.ch-section-link,
.ch-section-link * {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-decoration-color: currentColor;
}
.ch-section-link[data-active="true"] {
  background-color: #bae6fd66;
}

.ch-section-link[data-active="true"],
.ch-section-link[data-active="true"] * {
  text-decoration-thickness: 1.5px;
}

.ch-code-inline-mark {
  border-radius: 0.25rem;
  padding: 0.2rem 0.15rem 0.1rem;
  margin: 0 -0.15rem;
  background: var(--ch-t-editor-rangeHighlightBackground);
}

.ch-code-multiline-mark {
  background: var(--ch-t-editor-rangeHighlightBackground);
}

.ch-code-multiline-mark-border {
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--ch-t-editor-infoForeground);
}

.ch-code-multiline-mark .ch-code-button {
  font-size: 1.2em;
  position: absolute;
  right: 10px;
  top: 1px;
  display: none;
}

// .ch-code-multiline-mark:hover .ch-code-button {
//   display: block;
// }

.ch-code-inline-link {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: inherit;
}

.ch-code-link :not(span) > span {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: inherit;
}

.ch-code-box-annotation {
  outline: 2px solid var(--ch-t-editor-infoForeground);
}

.ch-code-label-annotation:hover {
  background: var(--ch-t-editor-lineHighlightBackground);
  .ch-code-label-annotation-text {
    display: block;
  }
}
.ch-code-label-annotation-text {
  position: absolute;
  right: 0;
  padding-right: 16px;
  opacity: 0.7;
  display: none;
}
