.ch-scrollycoding {
  display: flex;
  margin: 32px 0;
  position: relative;
}

.ch-scrollycoding-content {
  width: 50%;
  box-sizing: border-box;
  padding-right: 16px;
}

.ch-scrollycoding-step-content {
  border-radius: 8px;
  margin: 0 -0.5rem 0 -0.5rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  border: 1.5px solid transparent;
  min-height: 180px;
}

.ch-scrollycoding-step-content[data-selected] {
  // border-color: #81d8f7;
  border-color: #252526;
  // background-color: #fafafa;
}

.ch-scrollycoding-step-content > :first-child {
  margin-top: 0;
}

.ch-scrollycoding-step-content > :last-child {
  margin-bottom: 0;
}

.ch-scrollycoding-sticker {
  position: sticky;
  top: 10vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 420px;
  // capitalized Min to avoid usint the sass min
  min-height: Min(100%, 80vh);
  max-height: 80vh;
}

.ch-scrollycoding-sticker .ch-editor-frame,
.ch-scrollycoding-sticker .ch-code {
  width: 100%;
  min-width: 100%;
  min-height: 200px;
  max-height: 80vh;
}
