.ch-spotlight {
  display: flex;
}

.ch-spotlight-tabs {
  display: flex;
  flex-flow: column;
  margin: 10px;
  flex: 1;
  align-items: stretch;
}

.ch-spotlight-tab {
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  border: 1px solid #e3e3e3;
  padding: 0 1.2rem;
}

.ch-spotlight-tab:hover {
  border-color: #222;
}

.ch-spotlight-tab[data-selected] {
  border-color: #0070f3;
}

.ch-spotlight-sticker {
  position: sticky;
  top: 10vh;
  width: 420px;
  // capitalized Min to avoid usint the sass min
  min-height: Min(100%, 80vh);
  max-height: 80vh;
}

.ch-spotlight-sticker .ch-editor-frame,
.ch-spotlight-sticker .ch-code {
  width: 100%;
  min-width: 100%;
  min-height: Min(100%, 80vh);
  max-height: 80vh;
}
