.ch-spotlight {
  display: flex;
}

.ch-spotlight-tabs {
  width: 100px;
  display: flex;
  flex-flow: column;
  margin: 10px;
  flex: 1;
  align-items: stretch;
}

.ch-spotlight-tab {
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  border: 1px solid #e3e3e3;
  padding: 0 1.2rem;
}

.ch-spotlight-tab:hover {
  border-color: #222;
}

.ch-spotlight-tab[data-selected] {
  border-color: #0070f3;
}

.ch-spotlight .ch-editor-frame,
.ch-spotlight .ch-code-wrapper {
  width: 420px;
  min-width: 420px;
  min-height: 400px;
}
