@import "~@code-hike/mini-frame/dist/index.scss";
@import "~@code-hike/mini-terminal/dist/index.scss";
@import "~@code-hike/smooth-code/dist/index.scss";

/** tabs */

.ch-editor-tab {
  border-right: 1px solid rgb(37, 37, 38);
  width: 120px;
  min-width: fit-content;
  flex-shrink: 1;
  position: relative;
  display: flex;
  white-space: nowrap;
  cursor: pointer;
  height: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(45, 45, 45);
  // background-color: maroon;
  color: rgba(255, 255, 255, 0.5);
  min-width: 0;
  border-bottom: 1px solid;
}

.ch-editor-tab-active {
  background-color: rgb(30, 30, 30);
  // background-color: lightseagreen;
  color: rgb(255, 255, 255);
  min-width: unset;
}

.ch-editor-tab > div {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
  line-height: 1.4em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ch-editor-frame {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  font-family: Ubuntu, Droid Sans, -apple-system,
    BlinkMacSystemFont, Segoe WPC, Segoe UI, sans-serif;
  break-inside: avoid;
  --ch-title-bar-height: 30px;
  height: 100%;
}

.ch-editor-frame .ch-frame-title-bar {
  background: none;
}

/** terminal */

.ch-editor-terminal {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  background-color: rgb(30, 30, 30);
  color: rgb(231, 231, 231);
  border-top: 1px solid rgba(128, 128, 128, 0.35);
  padding: 0 8px;
  box-sizing: border-box;
}

.ch-editor-terminal-tab {
  text-transform: uppercase;
  padding: 4px 10px 3px;
  font-size: 11px;
  line-height: 24px;
  display: flex;
}

.ch-editor-terminal-tab > span {
  border-bottom: 1px solid rgb(231, 231, 231);
}

.ch-editor-terminal-content {
  margin-top: 8px;
  height: calc(100% -40px);
  box-sizing: border-box;
}

.ch-editor-terminal-content .ch-terminal {
  font-size: 12px;
  margin: 0;
}
