body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #111;
  color: #fafafa;
  height: 3.2rem;
  min-height: 3.2rem;
  border-bottom: 1px solid #444;
  padding: 0 1.5rem;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

header h1 span {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 0.5rem;
}

header a.code-hike {
  gap: 0.5rem;
  display: flex;
  margin-right: auto;
}

header a {
  color: inherit;
  text-decoration: inherit;
  font-size: 1.05rem;
}
header a:hover {
  color: rgb(179, 209, 245);
}

header svg {
  width: 2rem;
  height: 2rem;
  display: block;
  color: rgb(96 165 250);
}
main {
  /* display: flex; */
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
}

.editor-side {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  /* background-color: #222;
  color: white; */
}

.editor-side nav {
  background-color: #111;
  color: #fafafa;
  height: 2.2rem;
  min-height: 2rem;
  max-height: 2rem;
  border-bottom: 1px solid #444;
  display: flex;
  align-items: center;
  padding: 0 0.6rem 0 1.5rem;
  gap: 1rem;
  font-weight: 600;
}

.editor-tab {
  cursor: pointer;
  height: 100%;
  z-index: 1;
  box-sizing: border-box;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 0.95em;
  display: inline-flex;
  align-items: center;
}

.editor-tab[data-active="true"] {
  color: rgb(96 165 250);
  border-bottom: 3px solid;
  padding-bottom: 0px;
}

.editor-tab:hover {
  color: rgb(179, 209, 245);
}

.editor {
  flex: 1;
  background-color: #1e1e1e;
  color: #d4d4d4;
  color-scheme: dark;
}

.config-editor {
  padding: 0.6rem 1.5rem;
}

.config-editor label {
  display: block;
  margin-bottom: 0.5rem;
}

.config-editor input[type="checkbox"] {
  margin-right: 0.5rem;
}

.config-editor select {
  font-size: 1rem;
}

.preview {
  flex: 1;
  min-height: 0;
}

.preview:not(.standalone) {
  overflow: auto;
  position: absolute;
  inset: 0;
}

.preview.standalone {
  padding: 0.1px;
}

.preview-error {
  color: #be0924;
  padding: 0.5rem 1.5rem;
}

.preview-error pre {
  color: #111;
}

.compile-error {
  color: #be0924;
  position: fixed;
  top: 3.4rem;
  background-color: white;
  margin: 1.5rem;
  border: 1px solid #be0924;
  padding: 0 0.5rem 0.5rem 0.5rem;
  border-radius: 4px;
  z-index: 4;
}

.compile-error pre {
  color: #111;
  white-space: pre-wrap;
}

.with-error {
  opacity: 0.8;
  filter: blur(1.5px);
}

.standalone-link {
  position: fixed;
  top: 3.6rem;
  right: 1.6rem;
  z-index: 3;
  background-color: #222;
  color: #fafafa;
  border-radius: 8px;
  border: 1px solid #fafafa;
}

.standalone .standalone-link {
  top: 2rem;
}

.standalone-link:hover {
  background-color: #000;
}
.icon {
  width: 24px;
  height: 24px;
  display: block;
  padding: 4px;
}

.loading-border {
  position: absolute;
  top: 0;
  border-top: 6px solid rgb(96 165 250);
  transition: opacity 0.5s;
  animation: loading-border 2.5s linear infinite;
}

@keyframes loading-border {
  from {
    right: 100%;
    left: 0%;
  }
  50% {
    right: 0%;
    left: 0%;
  }
  to {
    right: 0%;
    left: 100%;
  }
}
