.main {
  /* background: #aaa; */
  /* max-width: 1024px; */
  margin: 0 auto;
}

.header {
  margin-top: 96px;
  padding: 32px;
  font-size: 0.7em;
}

.titleContainer {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 64px;
}

.title {
  font-size: 1.8em;
  margin: 0;
}

.titleContainer .line {
  background-color: var(--accent-100);
  height: 2px;
  flex: 1;
  margin: 0 64px;
}

.demos {
  /* background: #ece; */
  padding: 32px;
}

.demos .listContainer {
  position: relative;
}

.demos a {
  color: inherit;
}
.demos button svg {
  display: block;
}
.demos .prev {
  left: 0;
}

.demos .next {
  right: 0;
}

.demos .list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.demos .box {
  display: block;
  box-sizing: border-box;
  padding: 0 8px;
}

.demos .box:hover {
  color: var(--accent-500);
}

.demos .box h3 {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

.demos .box img {
  width: 100%;
  min-width: 300px;
  max-width: 450px;
}

.tools {
  /* background: #cee; */
  padding: 32px 32px 16px;
  max-width: 1024px;
  margin: 0 auto;
}

.tools h2 {
  margin: 0;
  text-align: center;
  padding-bottom: 16px;
}

.tools .list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tools a {
  color: inherit;
}

.tools .box {
  width: 316px;
  margin: 16px 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.tools .box:hover {
  color: var(--accent-500);
}

.tools .box h3 {
  margin: 16px 0 0;
  font-size: 1.15em;
  text-align: center;
}

.tools .container {
  width: 286px;
  height: 165px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.tools .noMedia {
  /* padding: 15px 28px 20px; */
  width: 100%;
  height: 100%;
}

.tools .noMedia > div {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 3px solid #4f4f4f;
  border-radius: 3px;
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools .box img {
  width: 100%;
}

.box:hover {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 725px) {
  .header {
    font-size: 0.4em;
  }
  .title {
    font-size: 1.4em;
  }
}
