{
  "trailingComma": "all",
  "semi": false,
  "overrides": [
    {
      "files": ["*.mdx"],
      "options": {
        "printWidth": 42,
        "semi": false
      }
    },
    {
      "files": ["*.tsx"],
      "options": {
        "printWidth": 60,
        "semi": false
      }
    }
  ]
}
