html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  margin: 0;
  font-family: sans-serif;
  background-color: #444;
  /* height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column; */
  /* --ch-scrollycoding-code-min-height: 500px;
  --ch-scrollycoding-sticker-width: 500px; */
}

.sidebar-link {
  font-size: 14px;
}

.sidebar-link:hover {
  background: rgba(30, 167, 253, 0.1);
}

.sidebar-link[data-active="true"] {
  background: rgba(30, 167, 253, 0.15);
}

.sidebar-link a {
  padding: 2px 16px;
  display: block;
  text-decoration: none;
  color: black;
}

.annotation-class span {
  text-decoration: line-through;
}

.mark-red-background {
  background: #550000 !important;
}

.mark-red-background .ch-code-multiline-mark-border {
  background: #bb0000 !important;
}

.mark-box {
  background: #000 !important;
}

.mark-box * {
  color: #0f0 !important;
}
