html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  margin: 0;
  font-family: sans-serif;
  background-color: #444;
  /* height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column; */
  /* --ch-scrollycoding-code-min-height: 500px;
  --ch-scrollycoding-sticker-width: 500px; */
}

.sidebar-link {
  font-size: 14px;
}

.sidebar-link:hover {
  background: rgba(30, 167, 253, 0.1);
}

.sidebar-link[data-active="true"] {
  background: rgba(30, 167, 253, 0.15);
}

.sidebar-link a {
  padding: 2px 16px;
  display: block;
  text-decoration: none;
  color: black;
}

.annotation-class span {
  text-decoration: line-through;
}

.mark-red-background {
  background: #550000 !important;
}

.mark-red-background .ch-code-multiline-mark-border {
  background: #bb0000 !important;
}

.mark-box {
  background: #000 !important;
}

.mark-box * {
  color: #0f0 !important;
}

[data-ch-theme="github-from-css"] {
  --ch-0: dark;
  --ch-1: #8b949e;
  --ch-2: #79c0ff;
  --ch-3: #ffa657;
  --ch-4: #c9d1d9;
  --ch-5: #d2a8ff;
  --ch-6: #7ee787;
  --ch-7: #ff7b72;
  --ch-8: #a5d6ff;
  --ch-9: #ffa198;
  --ch-10: #f0f6fc;
  --ch-11: #490202;
  --ch-12: #04260f;
  --ch-13: #5a1e02;
  --ch-14: #161b22;
  --ch-15: #8b949e;
  --ch-16: #0d1117;
  --ch-17: #6e76811a;
  --ch-18: #ffffff0b;
  --ch-19: #3794ff;
  --ch-20: #264f78;
  --ch-21: #1f6feb;
  --ch-22: #010409;
  --ch-23: #30363d;
  --ch-24: #6e7681;
  --ch-25: #6e768166;
  --ch-26: #0d1117e6;
}

[data-theme="light"] [data-ch-theme="github-from-css"] {
  --ch-0: light;
  --ch-1: #6e7781;
  --ch-2: #0550ae;
  --ch-3: #953800;
  --ch-4: #24292f;
  --ch-5: #8250df;
  --ch-6: #116329;
  --ch-7: #cf222e;
  --ch-8: #0a3069;
  --ch-9: #82071e;
  --ch-10: #f6f8fa;
  --ch-11: #ffebe9;
  --ch-12: #dafbe1;
  --ch-13: #ffd8b5;
  --ch-14: #eaeef2;
  --ch-15: #57606a;
  --ch-16: #ffffff;
  --ch-17: #eaeef280;
  --ch-18: #fdff0033;
  --ch-19: #1a85ff;
  --ch-20: #add6ff;
  --ch-21: #0969da;
  --ch-22: #f6f8fa;
  --ch-23: #d0d7de;
  --ch-24: #8c959f;
  --ch-25: #afb8c133;
  --ch-26: #ffffffe6;
}
