.showcase {
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 1.6em;
}

.carousel .container {
  height: 300px;
  width: 500px;
  max-width: 80vw;
  max-height: calc(80vw * 300 / 500);
  margin: 0 auto;
  position: relative;
  perspective: 200px;
}

.carousel .centerContainer {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.slideContainer {
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  position: absolute;
}

.left {
  right: 100%;
}
.right {
  left: 100%;
}

.slide {
  transform-style: preserve-3d;
  --slide-margin: 16px;
  position: absolute;
  top: var(--slide-margin);
  bottom: var(--slide-margin);
  left: var(--slide-margin);
  right: var(--slide-margin);
  /* border: 1px solid var(--accent-100); */
}

.slide h3 {
  text-align: center;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
}
