.sponsors {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(256px, 1fr)
  );
  grid-gap: 1rem;
  list-style-type: none;
  margin: 32px auto 0;
  padding: 0;
  width: 800px;
  max-width: 90vw;
}

.sponsor {
  /* border: 1px solid blue; */
  display: flex;
  color: inherit;
  cursor: pointer;
}

.sponsor:hover {
  text-decoration: none;
  color: var(--accent-500);
}

.sponsor img {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  margin-right: 16px;
}

.sponsor h4 {
  font-size: 1.2em;
  margin: 0;
}

.sponsor .details {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.sponsor .location {
  font-size: 0.9em;
  color: #666;
  margin-top: 2px;
}

.button {
  width: 200px;
  display: block;
  text-align: center;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 48px auto 0;
  font-size: 1.2em;
  border: 2px solid;
  border-color: var(--accent-500) !important;
  background: var(--accent-500);
  color: var(--white);
}

.button:hover {
  text-decoration: none;
}

@media screen and (max-width: 725px) {
  .button {
    font-size: 1em;
    width: 160px;
  }
}
