/* focus component */
.ch-hike-focus {
  --icon-color: #a4aeb8;
  // --icon-color: rgba(62, 76, 89);
  border: none;
  margin: 0;
  width: auto;
  overflow: visible;

  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  display: inline;
  cursor: pointer;
  border-radius: 3px;
  padding: 3px;
  margin: -3px;
  outline: none;
}

.ch-hike-focus code {
  padding-bottom: 0;
}
.ch-hike-focus:hover {
  background-color: #e4e7eb;
}
.ch-hike-focus-active {
  --icon-color: #81d8f7;
  background-color: #81d8f766;
  // color: #81d8f7;
  // box-shadow: 0 0 0 2px #81d8f7;
}
.ch-hike-focus-icon {
  color: var(--icon-color);
  display: inline;
  position: absolute;
  height: 1em;
  left: 1.8em;
  margin-top: 0.1em;
  vertical-align: unset;
}

@media (max-width: 920px), (print) {
  .ch-hike-focus {
    padding: 0;
    margin: 0;
    background-color: unset;
    box-shadow: none;
  }
  .ch-hike-focus:hover {
    background-color: unset;
  }
  .ch-hike-focus-icon {
    display: none;
  }
}
