@import "~@code-hike/mini-editor/dist/index.scss";
@import "~@code-hike/mini-browser/dist/index.scss";

.ch-hike {
  display: flex;
  --sticker-height: 650px;
  --page-header-height: 0px;
}

.ch-hike-content {
  width: 50%;
  box-sizing: border-box;
  padding-right: 3rem;
}

/* content steps */
.ch-hike-step {
  display: flex;
  min-height: 400px;
  align-items: center;
  // outline: 2px solid red;
  margin-bottom: 3rem;
}

.ch-hike-step-content {
  // background: linear-gradient(
  //   45deg,
  //   rgba(0, 161, 151, 0) -20px,
  //   rgba(86, 177, 152, 0.69) 100%
  // );
  // background-color: #f5f7fa;
  border-radius: 8px;
  margin: 0 -1rem 0 -1rem;
  padding: 1rem 1rem 1rem 1rem;
  border: 1.5px solid transparent;
  // border-left: 4px solid transparent;
  // outline: 2px solid green;
}

.ch-hike-step-content-focused {
  border-color: #81d8f7;
  // background-color: #fafafa;
}
.ch-hike-step-content-unfocused {
  // border-color: #f5f7fa;
}

.ch-hike-sticker-column {
  width: 50%;
  min-width: 300px;
}

.ch-hike-sticker {
  position: sticky;
  top: calc(
    50vh - var(--sticker-height) / 2 +
      var(--page-header-height) / 2
  );
  height: var(--sticker-height);
  margin: 0 0 0 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.ch-hike-editor {
  height: 380px;
  margin-bottom: 20px;
}

.ch-hike-preview {
  height: 250px;
}

.ch-hike-step-preview,
.ch-hike-step-code {
  display: none;
}

/* focus component */
.ch-hike-focus {
  border: none;
  margin: 0;
  width: auto;
  overflow: visible;

  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  display: inline;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 0 2px #e4e7eb;
  // box-shadow: 0 0 0 2px red;
  padding: 3px;
  outline: none;
}

.ch-hike-focus code {
  padding-bottom: 0;
}
.ch-hike-focus:hover {
  background-color: #e4e7eb;
}
.ch-hike-focus-active {
  background-color: #eef0f2;
  box-shadow: 0 0 0 2px #708293;
}
.ch-hike-focus-icon {
  color: #708293;
  display: inline;
  position: relative;
  height: 0.9em;
  top: 0.15em;
  vertical-align: unset;
  margin-left: 0.3ch;
}

@media (max-width: 920px), (print) {
  .ch-hike-sticker-column {
    display: none;
  }
  .ch-hike-content {
    width: 100%;
    padding-right: 0;
    margin: 0;
  }
  .ch-hike-step-code {
    display: block;
    height: 300px;
    margin: 30px 0;
  }
  .ch-hike-step-preview {
    display: block;
    height: 200px;
    margin: 30px 0;
  }
  .ch-hike-focus {
    padding: 0;
    background-color: unset;
    box-shadow: none;
  }
  .ch-hike-focus:hover {
    background-color: unset;
  }
  .ch-hike-focus-icon {
    display: none;
  }

  .ch-hike-step {
    display: block;
    min-height: unset;
    margin: 0;
  }

  .ch-hike-step-content {
    margin: 0;
    padding: 0;
    border: none;
  }
}
