@import "~@code-hike/mini-editor/dist/index.scss";
@import "~@code-hike/mini-browser/dist/index.scss";

.ch-hike {
  --sp-colors-bg-default: #f8f9fb;
  --sp-colors-fg-default: #999999;
}

.ch-hike .sp-preview-frame {
  height: 100%;
  display: flex;
}

.ch-hike-fluid {
  display: flex;
  --sticker-height: 650px;
  --page-header-height: 0px;
  margin: 32px 0;
  position: relative;
}

.ch-hike-content {
  width: 50%;
  box-sizing: border-box;
  padding-right: 48px;
}

/* content steps */
.ch-hike-fluid .ch-hike-step {
  display: flex;
  min-height: 350px;
  justify-content: center;
  flex-flow: column;
}

.ch-hike-step-gap {
  height: 3rem;
}

.ch-hike-step-content {
  border-radius: 8px;
  margin: 0 -1.5rem 0 -2rem;
  padding: 1rem 1.5rem 1rem 2rem;
  border: 1.5px solid transparent;
}

.ch-hike-step-content > :first-child {
  margin-top: 0;
}

.ch-hike-step-content > :last-child {
  margin-bottom: 0;
}

.ch-hike-step-content-focused {
  // border-color: #81d8f7;
  border-color: #252526;
  // background-color: #fafafa;
}
.ch-hike-step-content-unfocused {
  // border-color: #f5f7fa;
}

.ch-hike-sticker-column {
  width: 50%;
  min-width: 300px;
}

.ch-hike-sticker {
  position: sticky;
  top: calc(
    50vh - var(--sticker-height) / 2 +
      var(--page-header-height) / 2
  );
  margin: 0 0 0 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.ch-hike-editor {
  height: 380px;
  margin-bottom: 20px;
}

.ch-hike-preview {
  height: 250px;
}

// .ch-hike-step-preview,
// .ch-hike-step-code {
//   display: none;
// }

.ch-hike-step-code {
  display: block;
  height: 300px;
  margin: 30px 0;
}
.ch-hike-step-preview {
  display: block;
  height: 200px;
  margin: 30px 0;
}

.ch-frame {
  max-width: 400px;
  min-width: 400px;
  margin: 0 auto;
}

@import "focus.scss";
