@import "~@code-hike/mini-editor/dist/index.scss";
@import "~@code-hike/mini-browser/dist/index.scss";

.ch-hike {
  display: flex;
  --sticker-height: 650px;
  --page-header-height: 0px;
}

.ch-hike-content {
  width: 50%;
  box-sizing: border-box;
  padding-right: 1.2rem;
}

.ch-hike-sticker-column {
  width: 50%;
  min-width: 400px;
}

.ch-hike-sticker {
  position: sticky;
  top: calc(
    50vh - var(--sticker-height) / 2 +
      var(--page-header-height) / 2
  );
  height: var(--sticker-height);
  margin: 0 0 0 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.ch-hike-editor {
  height: 380px;
  margin-bottom: 20px;
}

.ch-hike-preview {
  height: 250px;
}

.ch-hike-step-preview,
.ch-hike-step-code {
  display: none;
}

/* focus component */
.ch-hike-focus {
  border: none;
  margin: 0;
  width: auto;
  overflow: visible;

  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  display: inline;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 0 2px #e4e7eb;
  // box-shadow: 0 0 0 2px red;
  padding: 3px;
  outline: none;
}

.ch-hike-focus code {
  padding-bottom: 0;
}
.ch-hike-focus:hover {
  background-color: #e4e7eb;
}
.ch-hike-focus-active {
  background-color: #eef0f2;
  box-shadow: 0 0 0 2px #708293;
}
.ch-hike-focus-icon {
  color: #708293;
  display: inline;
  position: relative;
  height: 0.9em;
  top: 0.15em;
  vertical-align: unset;
  margin-left: 0.3ch;
}

/**
@media (max-width: 640px) {
  .ch-hike-content {
    width: 100%;
    padding-right: 0;
  }
  .ch-hike-sticker-column {
    display: none;
  }
  .ch-hike-step-output {
    display: block;
  }
  .ch-hike-step-editor {
    height: 300px;
    margin: 16px 0;
  }
  .ch-hike-step-browser {
    height: 200px;
    margin: 16px 0;
  }
}
*/
