.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.main {
  width: 1024px;
  height: 576px;
  /* width: 960px;
  height: 540px; */
  background: white;
}
.grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.div1 {
  grid-area: 1 / 1 / 8 / 5;
}
.div2 {
  grid-area: 1 / 5 / 5 / 8;
}
.div3 {
  grid-area: 5 / 5 / 8 / 8;
}

.div4 {
  grid-area: 7 / 5 / 8 / 8;
}

.captions {
  color: #ddd;
  background-color: #222;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Ubuntu, Droid Sans, -apple-system,
    BlinkMacSystemFont, Segoe WPC, Segoe UI, sans-serif;
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
    0 3px 7px -3px rgba(0, 0, 0, 0.3);
  padding: 0 16px;
  margin: 0;
}
