.captions {
  color: #ddd;
  background-color: #222;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Ubuntu, Droid Sans, -apple-system,
    BlinkMacSystemFont, Segoe WPC, Segoe UI, sans-serif;
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
    0 3px 7px -3px rgba(0, 0, 0, 0.3);
  padding: 0 16px;
  margin: 0;
  flex: 1;
  white-space: pre;
}

.progressContainer {
  background: linear-gradient(90deg, #666d 1%, #999d 99%);
}

.progress {
  height: 4px;
  background: linear-gradient(
    90deg,
    #f19a38 1%,
    #f79e06 99%
  );
}

.author {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  border-radius: 6px;
  overflow: hidden;
  background: #222;
  height: 100%;
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
    0 3px 7px -3px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-flow: column;
}

.details {
  /* flex: 1; */
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
  color: #bbb;
  background: linear-gradient(
    to right,
    #222 38%,
    transparent 65%
  );
  color: #ddd;
  padding: 32px;
  font-family: Ubuntu, Droid Sans, -apple-system,
    BlinkMacSystemFont, Segoe WPC, Segoe UI, sans-serif;
}

.details a {
  text-decoration: none;
  color: inherit;
}

.details a:hover {
  text-decoration: underline;
}
