.main {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  background: #eee;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 0 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top > div:first-child {
  flex: 1;
  margin-right: 20px;
  width: auto !important;
}

.video {
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
    0 3px 7px -3px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.step {
  min-height: 100px;
  background: white;
  margin-top: 30px;
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
    0 3px 7px -3px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 32px;
  box-sizing: border-box;
  font-family: Ubuntu, Droid Sans, -apple-system,
    BlinkMacSystemFont, Segoe WPC, Segoe UI, sans-serif;
}

.sticker {
  width: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticker > div {
  position: fixed;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sticker > div > div {
  font-size: 60px;
}

.sticker > div > span {
  font-size: 140px;
}

.sticker img {
  width: 300px;
}
