.main {
  /* background: #aaa; */
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  margin-top: 96px;
  padding: 32px;
  font-size: 0.7em;
}

.description {
  /* background: #eec; */
  max-width: 576px;
  padding: 32px;
  margin: 0 auto;
  font-size: 1.62em;
}

.experimental {
  /* background: #eec; */
  max-width: 576px;
  padding: 16px 32px;
  margin: 0 auto;
  font-size: 1.1em;
  border-radius: 6px;
  border: 1px solid #92273c;
}

.experimental .label {
  font-weight: bold;
  /* text-transform: uppercase; */
}

.experimental .status {
  font-weight: bold;
  /* text-transform: uppercase; */
  background: #f3c7cf;
  color: #92273c;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 8px;
}

.experimental p {
  font-size: 1rem;
}

.demos {
  /* background: #ece; */
  padding: 32px;
}

.demos h2 {
  margin: 0;
  text-align: center;
  padding-bottom: 32px;
}

.demos .listContainer {
  position: relative;
}

.demos button {
  position: absolute;
  top: 40%;
  font-size: 3em;
  transform: translateY(-50%);
  color: var(--accent-color);
  background-color: transparent;
  padding: 0;
  border: none;
  user-select: none;
  cursor: pointer;
  border-radius: 50%;
}
.demos button svg {
  display: block;
}
.demos .prev {
  left: 0;
}

.demos .next {
  right: 0;
}

.demos .list {
  display: flex;
  justify-content: space-between;
  clip-path: polygon(20% 0, 80% 0, 100% 90%, 100% 100%, 0 100%, 0 90%);
  clip-path: polygon(20% 0, 80% 0, 95% 100%, 5% 100%);
}

.demos .box {
  background: #4f4f4f;
  color: #fafafa;
  height: 174.22px;
  width: 298.67px;
  display: block;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.demos .box h3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 1.5em;
  padding-top: 130px;
  text-align: center;
  background: #2228;
  background: linear-gradient(
    0deg,
    rgba(79, 79, 79, 0.9) 20%,
    rgba(255, 255, 255, 0) 80%
  );
  transition: opacity 500ms;
}

.demos .box h3:hover {
  opacity: 0;
}

.demos .box img {
  width: 298.67px;
}

.tools {
  /* background: #cee; */
  padding: 32px 32px 16px;
}

.tools h2 {
  margin: 0;
  text-align: center;
  padding-bottom: 16px;
}

.tools .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tools .box {
  background: #4f4f4f;
  color: #fafafa;
  height: 126px;
  width: 216px;
  margin: 16px 0;
  display: block;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.tools .box h3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 1.15em;
  padding-top: 90px;
  text-align: center;
  background: #2228;
  background: linear-gradient(
    0deg,
    rgba(79, 79, 79, 0.9) 20%,
    rgba(255, 255, 255, 0) 80%
  );
  transition: opacity 500ms;
}

.tools .box h3:hover {
  opacity: 0;
}

.tools .box img {
  width: 216px;
}

.box:hover {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
